.justify-center-content-responsive {
  justify-content: center;
}

.security-question-section {
  margin-top: 20px;
  max-width: 50%;
}

.security-question-label {
  color: black;
}

.top-divider-border {
  border-top: 2px solid var(--aqua-blue-green);
}

.tfaTextFieldSection {
  display: flex;
  justify-content: center;
}

.MuiTabs-flexContainer {
  flex-wrap: wrap;
}
