.MuiOutlinedInput-input {
  color: white;
}

.JournalContext__main__titleHeader {
  margin-top: 20px;
}
.JournalContext__main__updateDateSection {
  display: flex;
  justify-content: space-between;
}

.JournalContext__main__backToJournals {
  display: flex;
}

.JournalScene__ControlSection {
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {
  .JournalScene__ControlSection {
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 481px) {
  .JournalScene__ControlSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
